images/clusterra-nodered/examples/subflows/clusterra-init.json
[
    {
        "id": "clusterra-init",
        "type": "subflow",
        "name": "clusterra-init",
        "info": "Bootstrap palette installer.\n\nFetches `GET /v1/templates` and `GET /v1/api-routes`, renders one subflow per non-interactive ready template (`clusterra-launch-{id}`) and per API route (`clusterra-{name}`), and POSTs them to Node-RED's own admin API so they appear as palette nodes immediately — no manual import.\n\nPreset rows (parent_id != \"\") render a launch subflow whose env defaults are drawn from the preset's static_values + schema_values but whose submit targets the parent's template_id, mirroring what the console does.\n\nIdempotent: a content hash is stored in global context; the function exits early on subsequent runs unless the catalog changed.",
        "category": "Clusterra",
        "in": [
            { "x": 60, "y": 80, "wires": [{ "id": "ci-load" }] }
        ],
        "out": [
            { "x": 1080, "y": 80, "wires": [{ "id": "ci-done", "port": 0 }] }
        ],
        "env": [],
        "color": "#87A980"
    },
    {
        "id": "ci-trigger",
        "type": "inject",
        "z": "clusterra-init",
        "name": "on startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 100,
        "y": 40,
        "wires": [["ci-load"]]
    },
    {
        "id": "ci-load",
        "type": "function",
        "z": "clusterra-init",
        "name": "fetch + install",
        "func": "// Bootstrap palette installer. Fetches the template + route catalog,\n// renders subflow definitions, and POSTs them to Node-RED's own admin\n// API so they appear as palette nodes without an Import step.\nconst fs = global.get('fs');\nconst https = global.get('https');\nconst http = global.get('http');\nconst urlMod = global.get('url');\nconst userDir = global.get('userDir') || '/data';\nconst port = global.get('port') || 1880;\nconst baseUrl = global.get('baseUrl') || '';\nconst credsPath = userDir + '/clusterra-creds.json';\n\nconst PRIMITIVES = new Set(['clusterra-api', 'clusterra-watch-job', 'clusterra-init']);\nconst MANAGED_BY_ENTRYPOINT = new Set(['clusterra-bootstrap-tab', 'boot-init-instance', 'boot-debug']);\n\nfunction waitForCreds(maxMs) {\n    return new Promise((resolve, reject) => {\n        const deadline = Date.now() + maxMs;\n        (function tick() {\n            try { return resolve(JSON.parse(fs.readFileSync(credsPath, 'utf8'))); }\n            catch (e) {\n                if (Date.now() > deadline) return reject(new Error('creds file not present after ' + maxMs + 'ms: ' + e.message));\n                setTimeout(tick, 2000);\n            }\n        })();\n    });\n}\n\nlet creds;\nfunction apiGet(p) {\n    return new Promise((resolve, reject) => {\n        const u = new urlMod.URL(creds.api_url + p);\n        const lib = u.protocol === 'https:' ? https : http;\n        const req = lib.request({\n            method: 'GET',\n            hostname: u.hostname,\n            port: u.port || (u.protocol === 'https:' ? 443 : 80),\n            path: u.pathname + u.search,\n            headers: { 'Authorization': 'Bearer ' + creds.auth_token, 'Accept': 'application/json' }\n        }, (res) => {\n            let buf = '';\n            res.setEncoding('utf8');\n            res.on('data', (c) => buf += c);\n            res.on('end', () => {\n                if (res.statusCode >= 400) return reject(new Error(p + ' ' + res.statusCode + ': ' + buf));\n                try { resolve(JSON.parse(buf)); } catch (e) { reject(e); }\n            });\n        });\n        req.on('error', reject);\n        req.end();\n    });\n}\n\nfunction adminReq(method, path, body, extraHeaders) {\n    return new Promise((resolve, reject) => {\n        const headers = Object.assign({\n            'Accept': 'application/json',\n            'Node-RED-API-Version': 'v2'\n        }, extraHeaders || {});\n        let payload;\n        if (body !== undefined) {\n            payload = JSON.stringify(body);\n            headers['Content-Type'] = 'application/json';\n            headers['Content-Length'] = Buffer.byteLength(payload);\n        }\n        const req = http.request({\n            method, hostname: '127.0.0.1', port, path: baseUrl + path, headers\n        }, (res) => {\n            let buf = '';\n            res.setEncoding('utf8');\n            res.on('data', (c) => buf += c);\n            res.on('end', () => {\n                if (res.statusCode >= 400) return reject(new Error(method + ' ' + path + ' ' + res.statusCode + ': ' + buf));\n                try { resolve(buf ? JSON.parse(buf) : {}); } catch (e) { resolve({}); }\n            });\n        });\n        req.on('error', reject);\n        if (payload) req.write(payload);\n        req.end();\n    });\n}\n\n// Render a launch subflow. For preset rows (parent_id set), env vars are\n// drawn from the parent's parameter list with defaults overridden by the\n// preset's static_values + schema_values; the submit targets the parent's\n// template_id. The console does the same — preset is UI prefill, parent\n// owns the renderable Job/Script.\nfunction renderLaunchSubflow(t, tplById) {\n    const sid = 'clusterra-launch-' + t.id;\n    let baseParams = t.parameters || [];\n    let targetTemplateId = t.id;\n    const staticVals = t.static_values || {};\n    const schemaVals = t.schema_values || {};\n    if (t.parent_id) {\n        const parent = tplById[t.parent_id];\n        if (!parent) return [];\n        baseParams = parent.parameters || [];\n        targetTemplateId = parent.id;\n    }\n    const env = baseParams.map(p => {\n        let def = p.default;\n        if (Object.prototype.hasOwnProperty.call(staticVals, p.name)) {\n            def = staticVals[p.name];\n        }\n        if (p.name === 'pipeline_params_json' && Object.keys(schemaVals).length > 0) {\n            let existing = {};\n            if (typeof def === 'string' && def.trim()) {\n                try { existing = JSON.parse(def); } catch (_) { existing = {}; }\n            }\n            def = JSON.stringify(Object.assign(existing, schemaVals));\n        }\n        const valueType = p.type === 'int' ? 'num' : (p.type === 'bool' ? 'bool' : 'str');\n        return {\n            name: p.name,\n            type: valueType,\n            value: def !== undefined && def !== null ? String(def) : '',\n            ui: {\n                label: { en: p.label || p.name },\n                type: p.options ? 'select' : (p.type === 'bool' ? 'checkbox' : 'input'),\n                opts: p.options\n                    ? { opts: p.options.map(o => ({ l: { en: String(o) }, v: String(o) })) }\n                    : { types: ['str','num','bool'] }\n            }\n        };\n    });\n    const buildId = sid + '-build';\n    const callId = sid + '-call';\n    const extractId = sid + '-extract';\n    const buildFunc = 'const params = {};\\n' + baseParams.map(p =>\n        \"params['\" + p.name + \"'] = env.get('\" + p.name + \"');\"\n    ).join('\\n') + '\\nmsg.method = \"POST\";\\nmsg.path = \"/v1/clusters/{cluster_id}/jobs/submit\";\\nmsg.body = { template_id: \"' + targetTemplateId + '\", params: params };\\nreturn msg;';\n    // Sub-categorize presets by their `pipeline_repo` so e.g. all sarek\n    // presets cluster under \"Clusterra · Sarek\" instead of one giant\n    // \"Preset\" bucket. Falls back to a generic preset category when no\n    // pipeline_repo static value is set.\n    let category = 'Clusterra · Launch';\n    if (t.parent_id) {\n        const repo = (staticVals.pipeline_repo || '');\n        const slug = String(repo).split('/').pop();\n        if (slug) {\n            category = 'Clusterra · ' + slug.charAt(0).toUpperCase() + slug.slice(1);\n        } else {\n            category = 'Clusterra · Preset';\n        }\n    }\n    return [\n        { id: sid, type: 'subflow', name: t.name || t.id,\n          info: t.description || ('Launch ' + t.id),\n          category: category,\n          in: [{ x: 60, y: 60, wires: [{ id: buildId }] }],\n          out: [{ x: 720, y: 60, wires: [{ id: extractId, port: 0 }] }],\n          env: env, color: '#87A980' },\n        { id: buildId, type: 'function', z: sid, name: 'build payload',\n          func: buildFunc, outputs: 1, x: 220, y: 60, wires: [[callId]] },\n        { id: callId, type: 'subflow:clusterra-api', z: sid, name: 'submit',\n          x: 420, y: 60, wires: [[extractId]] },\n        { id: extractId, type: 'function', z: sid, name: 'extract job_id',\n          func: 'const b = msg.payload || {};\\nmsg.job_id = b.job_id || (b.job && b.job.id);\\nreturn msg;',\n          outputs: 1, x: 600, y: 60, wires: [[]] }\n    ];\n}\n\nfunction actionCategory(path) {\n    // Coarse REST-resource grouping. Each branch is its own collapsible\n    // palette section. Order matters — `/accounting/` falls under Jobs\n    // since it's just historical jobs.\n    if (path.indexOf('/jobs') >= 0 || path.indexOf('/accounting/') >= 0) return 'Clusterra · Jobs';\n    if (path.indexOf('/events') >= 0) return 'Clusterra · Events';\n    if (path.indexOf('/storage/') >= 0 || path.indexOf('/storage') === path.length - 8) return 'Clusterra · Storage';\n    if (path.indexOf('/sessions') >= 0) return 'Clusterra · Sessions';\n    if (path.indexOf('/presets') >= 0) return 'Clusterra · Presets';\n    if (path.indexOf('/templates') >= 0) return 'Clusterra · Templates';\n    return 'Clusterra · Cluster';\n}\nfunction renderActionSubflow(r) {\n    const sid = 'clusterra-' + r.name.replace(/_/g, '-');\n    const setId = sid + '-set';\n    const callId = sid + '-call';\n    const setFunc = 'msg.method = \"' + r.method + '\";\\nmsg.path = \"' + r.path + '\";\\n' + (r.stream ? 'msg.stream = true;\\n' : '') + 'return msg;';\n    return [\n        { id: sid, type: 'subflow', name: r.name,\n          info: r.method + ' ' + r.path + (r.stream ? ' (SSE)' : ''),\n          category: actionCategory(r.path),\n          in: [{ x: 60, y: 60, wires: [{ id: setId }] }],\n          out: [{ x: 540, y: 60, wires: [{ id: callId, port: 0 }] }],\n          env: [], color: '#87A980' },\n        { id: setId, type: 'function', z: sid, name: 'set request',\n          func: setFunc, outputs: 1, x: 220, y: 60, wires: [[callId]] },\n        { id: callId, type: 'subflow:clusterra-api', z: sid, name: 'call',\n          x: 420, y: 60, wires: [[]] }\n    ];\n}\n\nfunction hashOf(s) {\n    let h = 5381;\n    for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) | 0;\n    return h.toString(16);\n}\n\n(async () => {\n    try {\n        node.status({ fill: 'yellow', shape: 'dot', text: 'waiting for creds…' });\n        creds = await waitForCreds(120000);\n        node.status({ fill: 'yellow', shape: 'dot', text: 'fetching catalog…' });\n        const tplResp = await apiGet('/v1/templates');\n        const routesResp = await apiGet('/v1/api-routes');\n        const allTemplates = tplResp.templates || [];\n        const tplById = Object.fromEntries(allTemplates.map(t => [t.id, t]));\n        const templates = allTemplates.filter(t => t.kind !== 'interactive' && t.ready);\n        const routes = routesResp.routes || [];\n\n        const managed = [];\n        for (const t of templates) managed.push(...renderLaunchSubflow(t, tplById));\n        for (const r of routes) managed.push(...renderActionSubflow(r));\n        const managedSubflowIds = new Set(managed.filter(n => n.type === 'subflow').map(n => n.id));\n\n        // Idempotency guard: skip the deploy if we've already installed this\n        // exact catalog. Without this the POST /flows below would trigger a\n        // reload that re-fires our once:true inject, causing an infinite\n        // redeploy loop on every restart.\n        const hash = hashOf(JSON.stringify(managed));\n        const lastHash = global.get('clusterra_palette_hash');\n\n        node.status({ fill: 'yellow', shape: 'dot', text: 'reading flows…' });\n        const current = await adminReq('GET', '/flows');\n        const currentFlows = Array.isArray(current) ? current : (current.flows || []);\n        const currentRev = Array.isArray(current) ? undefined : current.rev;\n        const haveAll = managedSubflowIds.size > 0 && [...managedSubflowIds].every(\n            id => currentFlows.some(n => n.id === id && n.type === 'subflow')\n        );\n        if (lastHash === hash && haveAll) {\n            node.status({ fill: 'green', shape: 'dot', text: 'palette up to date (' + managedSubflowIds.size + ' subflows)' });\n            node.send({ payload: { ok: true, skipped: true, subflows: managedSubflowIds.size } });\n            return;\n        }\n\n        // Strip prior managed subflows + their child nodes. Keep the three\n        // primitives + entrypoint-managed bootstrap nodes + everything else\n        // the user has authored.\n        const isPriorManaged = (n) => {\n            const id = n.id || '';\n            const z = n.z || '';\n            if (PRIMITIVES.has(id) || MANAGED_BY_ENTRYPOINT.has(id)) return false;\n            if (PRIMITIVES.has(z) || MANAGED_BY_ENTRYPOINT.has(z)) return false;\n            if (id.startsWith('clusterra-launch-')) return true;\n            if (z && z.startsWith('clusterra-launch-')) return true;\n            if (id.startsWith('clusterra-') && !PRIMITIVES.has(id)) return true;\n            if (z && z.startsWith('clusterra-') && !PRIMITIVES.has(z)) return true;\n            return false;\n        };\n        const preserved = currentFlows.filter(n => !isPriorManaged(n));\n        const merged = preserved.concat(managed);\n\n        node.status({ fill: 'yellow', shape: 'dot', text: 'installing palette…' });\n        const body = currentRev !== undefined ? { flows: merged, rev: currentRev, deploymentType: 'full' } : merged;\n        await adminReq('POST', '/flows', body, { 'Node-RED-Deployment-Type': 'full' });\n        global.set('clusterra_palette_hash', hash);\n\n        node.status({ fill: 'green', shape: 'dot', text: 'palette ready (' + managedSubflowIds.size + ' subflows)' });\n        node.send({ payload: { ok: true, installed: managedSubflowIds.size } });\n    } catch (e) {\n        node.error('palette install failed: ' + e.message, { payload: e.message });\n        node.status({ fill: 'red', shape: 'dot', text: 'install failed' });\n    }\n})();\nreturn null;",
        "outputs": 1,
        "x": 280,
        "y": 80,
        "wires": [["ci-done"]]
    },
    {
        "id": "ci-done",
        "type": "junction",
        "z": "clusterra-init",
        "x": 980,
        "y": 80,
        "wires": [[]]
    }
]
